.clients {
  @include flex-box-col-center();
  padding-top: 6em;
  padding-bottom: 6em;
}
.clients__slider {
  @include flex-box-row-center();
}
.clients__head {
  margin-bottom: 2em;
  color: $sensum-color;
}
.clients__logo {
  width: auto !important;
  height: 50px !important;
  margin-left: 2em;
}
