footer {
  @include flex-box-col-center();
  width: 100%;
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: $sensum-color;
}
.footer__wrapper {
  @include flex-box-col-center();
}
.footer__logo {
  height: 90px;
  margin-bottom: 1em;
}
.footer__cta {
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}
.footer__phone {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  color: #fff;
}
