.gallery {
  @include flex-box-col-center();
  width: 100%;
  padding-top: 6em;
  padding-bottom: 6em;
}
.gallery__head {
  margin-bottom: 2em;
  color: $sensum-color;
}
.gallery__slider {
  @include flex-box-row-center();
}
.gallery__arrow {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  color: $sensum-color;
  cursor: pointer;
}
.gallery__arrow:first-child {
  padding-right: 0.5em;
}
.gallery__arrow:last-child {
  padding-left: 0.5em;
}
.slider__item__wrapper {
  margin-left: 1em;
}
.gallery__img {
  width: 100%;
  height: auto;
}
