header {
  @include flex-box-col-center();
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $sensum-color;
}
.header__wrapper {
  @include flex-box-row-center();
  width: 100%;
  // border: 1px solid black;
}
.header__logo {
  height: 50px;
}
.header__partner {
  margin-left: 1em;
  color: goldenrod;
}
.header__cta {
  margin-left: auto;
  color: $sensum-color;
}
.header__phone {
  margin-left: auto;
  margin-right: 1em;
  font-size: 1.5rem;
  font-weight: 900;
  color: $sensum-color;
}

@media screen and (max-width: 599px) {
  .header__partner,
  .header__cta {
    display: none;
  }
  .header__phone {
    margin-left: auto;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
