.hero {
  @include flex-box-col-center-all();
  width: 100%;
  min-height: 90vh;
  height: 100%;
  background-image: url(./img/fon6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  b {
    color: $red-color;
  }
}
.hero__head {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: $red-color;
}
.hero__utp {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 300;
  color: #000;
  img {
    height: 25px;
  }
}
.hero__location {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 300;
  color: #000;
}
.hero__btn {
  display: inline-block;
  margin-top: 1em;
  padding: 1em;
  background-color: $red-color;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
}

@media screen and (max-width: 599px) {
  .hero__head {
    font-size: 1.5rem;
  }
  .hero__utp {
    font-size: 1rem;
  }
  .hero__btn {
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
