.holiday {
  @include flex-box-col-center();
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: url(./img/celebrationBlur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .hero__btn {
    font-size: 1.5rem;
  }
}
.holiday__wrapper {
  @include flex-box-col-center-all();
}
.holiday__head {
  // background-color: rgba(0, 0, 0, 0.5);
  // background-color: rgba(177, 7, 32, 0.5);
  background-color: rgba(49, 182, 147, 0.5);
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}

@media screen and (max-width: 599px) {
  .holiday__head {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
