.lectors {
  @include flex-just-cont-center();
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #f2f2f2;
}
.lectors__wrapper {
  @include flex-box-col-center();
}
.lectors__head {
  width: 100%;
  margin-bottom: 2em;
  color: $sensum-color;
}
.lectors__lector {
  display: flex;
  margin-bottom: 2em;
}
.lector__img {
  width: 200px;
  // border-radius: 5px;
}
.lector__caption {
  margin-left: 2em;
}
.lector__name {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: #555;
}
.lector__who {
  padding-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 300;
  color: #555;
}
.lector__other__lectors {
  font-size: 1.2rem;
  font-weight: 300;
  color: #555;
  b {
    color: #555;
  }
}

@media screen and (max-width: 599px) {
  .lectors__wrapper {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: none;
  }
  .lectors__lector {
    width: 100%;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
