.media {
  @include flex-just-cont-center();
  padding-top: 6em;
  padding-bottom: 8em;
  background-color: #f2f2f2;
}

.media__wrapper {
  display: flex;
}

.media__head {
  align-self: flex-start;
  margin-bottom: 2em;
  color: $sensum-color;
}

.media__main {
  display: flex;
  margin-right: 1em;
}
.media__sidebar {
  @include flex-box-col-center();
}
.media__main__img {
  cursor: pointer;
}
.media__sidebar__img {
  width: 100%;
  cursor: pointer;
}
.media__sidebar__img:first-child {
  margin-bottom: 1em;
}

@media screen and (max-width: 599px) {
  .media__wrapper {
    flex-direction: column;
  }
  .media__main {
    margin-right: 0;
    margin-bottom: 1em;
  }
  .media__main__img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}
