@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic");

/* =================
    MIXINS
 ================= */
@mixin flex-box-row-center() {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-box-col-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-box-col-center-all() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-just-cont-center() {
  display: flex;
  justify-content: center;
}
/* =================
    COMMON
 ================= */

:root {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  box-sizing: content-box;
}

body {
  margin: 0;
  box-sizing: inherit;
}

.container {
  max-width: 1000px;
  width: 100%;
}

// CONSTANTS
$sensum-color: #31b693;
$red-color: #b10820;

// ADAPTIVE
@media screen and (max-width: 599px) {
  :root {
    font-size: 0.8em;
  }
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 900px) {
}

@media screen and (min-width: 1200px) {
}

/* =================
    HEADER    
 ================= */
@import "scss/header";

/* =================
    HERO    
 ================= */
@import "scss/hero";

/* =================
    GALLERY
 ================= */
@import "scss/gallery";

/* =================
    CROSSWORD
 ================= */
@import "scss/gifts";

/* =================
    MODAL
 ================= */
@import "scss/modal";

/* =================
    MEDIA
 ================= */
@import "scss/media";

/* =================
    LECTORS
 ================= */
@import "scss/lectors";

/* =================
    HOLIDAY
 ================= */
@import "scss/holiday";

/* =================
    CLIENTS
 ================= */
@import "scss/clients";

/* =================
    FOOTER
 ================= */
@import "scss/footer";
