@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic");
/* =================
    MIXINS
 ================= */
/* =================
    COMMON
 ================= */
:root {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

body {
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  max-width: 1000px;
  width: 100%; }

@media screen and (max-width: 599px) {
  :root {
    font-size: 0.8em; }
  .container {
    max-width: 90%; } }

/* =================
    HEADER    
 ================= */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #31b693; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.header__logo {
  height: 50px; }

.header__partner {
  margin-left: 1em;
  color: goldenrod; }

.header__cta {
  margin-left: auto;
  color: #31b693; }

.header__phone {
  margin-left: auto;
  margin-right: 1em;
  font-size: 1.5rem;
  font-weight: 900;
  color: #31b693; }

@media screen and (max-width: 599px) {
  .header__partner,
  .header__cta {
    display: none; }
  .header__phone {
    margin-left: auto;
    font-size: 1.2rem; } }

/* =================
    HERO    
 ================= */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  background-image: url(./img/fon6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .hero b {
    color: #b10820; }

.hero__head {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: #b10820; }

.hero__utp {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 300;
  color: #000; }
  .hero__utp img {
    height: 25px; }

.hero__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: 1.4rem;
  font-weight: 300;
  color: #000; }

.hero__btn {
  display: inline-block;
  margin-top: 1em;
  padding: 1em;
  background-color: #b10820;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  border-radius: 100px; }

@media screen and (max-width: 599px) {
  .hero__head {
    font-size: 1.5rem; }
  .hero__utp {
    font-size: 1rem; } }

/* =================
    GALLERY
 ================= */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6em;
  padding-bottom: 6em; }

.gallery__head {
  margin-bottom: 2em;
  color: #31b693; }

.gallery__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.gallery__arrow {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  color: #31b693;
  cursor: pointer; }

.gallery__arrow:first-child {
  padding-right: 0.5em; }

.gallery__arrow:last-child {
  padding-left: 0.5em; }

.gallery__img {
  width: auto !important;
  height: 250px !important;
  margin-left: 1em; }

/* =================
    MODAL
 ================= */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }
  .modal__wrapper video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    width: 75%; }

.modal__exit {
  position: fixed;
  padding: 0.5rem;
  right: 10px;
  top: 10px;
  font-weight: 900;
  color: #fff;
  background-color: #31b693;
  cursor: pointer;
  z-index: 1000; }

/* =================
    MEDIA
 ================= */
.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6em;
  padding-bottom: 8em;
  background-color: #f2f2f2; }

.media__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.media__head {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 2em;
  color: #31b693; }

.media__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em; }

.media__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.media__main__img {
  cursor: pointer; }

.media__sidebar__img {
  width: 100%;
  cursor: pointer; }

.media__sidebar__img:first-child {
  margin-bottom: 1em; }

/* =================
    LECTORS
 ================= */
.lectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #f2f2f2; }

.lectors__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.lectors__head {
  width: 100%;
  margin-bottom: 2em;
  color: #31b693; }

.lectors__lector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em; }

.lector__img {
  width: 200px; }

.lector__caption {
  margin-left: 2em; }

.lector__name {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: #555; }

.lector__who {
  padding-bottom: 1em;
  font-size: 1.2rem;
  font-weight: 300;
  color: #555; }

.lector__other__lectors {
  font-size: 1.2rem;
  font-weight: 300;
  color: #555; }
  .lector__other__lectors b {
    color: #555; }

@media screen and (max-width: 599px) {
  .lectors__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: none;
        flex-wrap: none; }
  .lectors__lector {
    width: 100%;
    margin-bottom: 2em; } }

/* =================
    HOLIDAY
 ================= */
.holiday {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6em;
  padding-bottom: 6em;
  background-image: url(./img/celebrationBlur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  .holiday .hero__btn {
    font-size: 1.5rem; }

.holiday__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.holiday__head {
  background-color: rgba(49, 182, 147, 0.5);
  font-size: 3rem;
  text-align: center;
  color: #fff; }

@media screen and (max-width: 599px) {
  .holiday__head {
    font-size: 1.3rem; } }

/* =================
    CLIENTS
 ================= */
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6em;
  padding-bottom: 6em; }

.clients__head {
  margin-bottom: 2em;
  color: #31b693; }

.clients__logo {
  width: auto !important;
  height: 50px !important;
  margin-left: 2em; }

/* =================
    FOOTER
 ================= */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 6em;
  padding-bottom: 6em;
  background-color: #31b693; }

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__logo {
  height: 90px;
  margin-bottom: 1em; }

.footer__cta {
  margin-bottom: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff; }

.footer__phone {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  font-weight: 900;
  color: #fff; }

.footer__support {
  color: #fff; }
